*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0;

}
header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position:sticky;
    top: 0;

}
#logo img{
    display: flex;
    width: 60px;
    height: 30px;
    margin-top: 0px;
    
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;   
}
nav ul li a{
    text-decoration: none;
    color: rgb(116, 104, 104);
    font-weight: 600;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
nav ul li a:hover{
    color: red;
}

span{
    color: red;
    font-weight: 600;
    font-size: 14px;
}
 .login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-left: 500px;
}
main{
    display: flex;
    background-size: cover;
    background-position: center;  
   background-image: url(./dacrust\ image.jpg);
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: red;
    font-family:sans-serif;
}
main .container h4{
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px; 
    font-weight: 700;
}
main .container h1{
    color: red;
    margin-left: 30px;
    font-size: 50px;
    font-weight: 700;
}
main .container button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    width: 120px;
    margin-top: 30px;
    margin-left: 30px;
    border: none;

}
main .container button:hover{
    background-color: white;  
    border: 1px solid red;

}
main .container button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}
main .container button a:hover{
    color:red;
}
.container2{
    display: flex;
    gap: 50px;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 50px;
}
.container2 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.container2 .fame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    width: 500px;
    height: 300px;
    margin-top: 40px;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
} 
.container2 .fame h3{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.container2 .fame p{
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(141, 130, 130);
}
h2{
    font-family: sans-serif;
    font-weight: 700;
    color: red;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}
.since{
    margin-top: 10px;
    font-size: 50px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 100vh;
}
.base .info h3{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 30px;
    font-size: 30px;

}
.base .info image-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 00px;
    margin-left: 0px;
}
.base2 .gate{
    display: flex;
    gap:100px;
    background-color: white;
    padding: 30px;
    width: 50%;
   
}
.base2 .gate .contract-right form #gain{
    display: flex;
    gap: 20px;

}
.base2 .gate .contact-right form  #gain .name{
    border: 0px;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-inline-end: 10px;
    
}
.base2 .gate .contact-right form  #gain1 .mail{
    border: 0px;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-inline-end: 10px;
}
.base2 .gate .contact-right form #message{
    border: 0px;
    border-bottom: 2px solid;
    padding-bottom: 40px;
    margin-bottom: 20px;
    width: 350px
    
}
.base2 .gate .contact-right form button{
    background-color: white;
    padding: 10px 20px;
    width: 120px;
    margin-top: 30px;
    border: 2px solid;
    margin-left: 250px;
}
.base2 .gate .contact-right form button:hover{
    background-color: red;  
    color: white;
    border: none;
}

    
    
.base2 .contact-right{
    font-family: sans-serif;
    
    
}
.base2 .contact-right h3{
    text-align: center;
    font-size:40px;
    font-weight: 700;
}
.base2 .contact-right p{
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 700;
}
.base2 .gate .roaster h1{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.base2 .gate .roaster p{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.favorite .love h4{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-family: sans-serif;
}
.favorite .love{
    background-color: white;
    padding: 20px;
}
.favorite .love button{
    background-color: red;
    padding: 10px 20px;
    width: 120px;
    margin-top: 30px;
    margin-left: 450px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite .love button:hover{
    background-color: white;  
    border: 1px solid red;
    color: red;
    

}
.favorite .love button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}
.favorite .love button a:hover{
    color:red;
}
.base3{
    margin-top: 0px;
}
.base3 .love1{
    display: flex;;
    gap: 30px;

}
.base3 .love2{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
}
.base3 .love2 h4{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.base3 .love2 h5{
    margin-bottom: 10px;
    font-size: 15px;
}
.base1 .love3{
    background-image: url(./bagage-removebg-preview.png);
    background-position: center;
    background-size: cover;
    width: 70%;
    padding: 20px;
}
.base1 .love4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding: 20px;
   
}   
.base1 .love4 h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-left: 400px;
}
.base1 .love4 h5{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 400px;
}
.base1 .love4 p{
    font-size: 11px;
    margin-left: 400px; 
}
.base1 .love4 button{
    background-color: red;
    padding: 10px 20px;
    width: 120px;
    margin-top: 30px;
    margin-left: 400px;
    border: none;
}
.base1 .love4 button:hover{
    background-color: white;  
    border: 1px solid red;
    color: red;
}
.base1 .love4 button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}
.base1 .love4 button a:hover{
    color:red;
}
footer{
    background-color: red;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
